@font-face {
    font-family: "libertinus";
    src: url("../../public/assets/font/libertinus/LibertinusKeyboard-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusMath-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusMono-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSans-Bold.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSans-Italic.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSans-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-Bold.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-BoldItalic.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-Italic.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-Semibold.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerif-SemiboldItalic.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerifDisplay-Regular.otf");
    src: url("../../public/assets/font/libertinus/LibertinusSerifInitials-Regular.otf");
    font-weight: normal;
    font-style: normal;
  }