@font-face {
    font-family: "iranyekan";
    src: url("../../public/assets/font/iranyekan/IRANYekanLightMobile\(FaNum\).ttf");
    src: url("../../public/assets/font/iranyekan/IRANYekanMobileBold\(FaNum\).ttf");
    src: url("../../public/assets/font/iranyekan/IRANYekanRegularMobile\(FaNum\).ttf");
    src: url("../../public/assets/font/iranyekan/iranyekanwebbold.ttf");
    src: url("../../public/assets/font/iranyekan/iranyekanweblight.ttf");
    src: url("../../public/assets/font/iranyekan/iranyekanwebregular.ttf");
    font-weight: normal;
    font-style: normal;
  }